{% set workshopCat = workshopCat ?? '' %}
{% set relatedTo = workshopCat|join(',') %}
{% set query = craft.entries
    .section("workshops")
    .limit(8)
    .relatedTo(workshopCat)
    .all()
%}

<ul id="w-filter" aria-label="Workshop Filter">
    {% set i = 6 %}
    {% for cat in craft.categories().group('workshopOptions').all %}
        <li>
            <input sprig type="checkbox" id="checkbox_{{ cat.id|e }}" name="workshopCat[{{ i }}]" value="{{ cat.id|e }}" {{ cat.id in workshopCat ? 'checked' : '' }}>
            <label for="checkbox_{{ cat.id }}"> {{ cat.title|e }}</label>
        </li>
        {% set i = i + 1 %}
    {% endfor %}
</ul>
<div id="w-results" class="w--loop">
    {% for workshop in query %}
        {% set cats = workshop.workshopCat.all() %}
        
        <article class="workshop">
            <header>
                <h3 class="w--title">{{ workshop.title|e }}</h3>
            </header>
            <ul class="w--cats">
            {% for cat in cats %}
                <li class="workshop--cat workshop-{{ cat.id|e }}">
                    <span class="w--icon">
                    {% switch cat.id %}
                        {% case "6" %}
                        {% include "_svg/dev-icon.twig" %}
                        {% case "7" %}
                        {% include "_svg/strat-icon.twig" %}
                        {% case "8" %}
                        {% include "_svg/design-icon.twig" %}
                        {% default %}
                    {% endswitch %}
                    </span>
                    <span class="screen-reader-text">{{ cat.title|e }}</span>
                </li>
            {% endfor %}
            </ul>
        </article>
    {% endfor %}
</div>